/* style.css di dalam folder admin */
body {
    font-size: .875rem;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-heading {
    font-size: .875rem;
    text-transform: uppercase;
    padding: 0 1rem;
    font-weight: bold;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
    padding: 0.75rem 1rem;
}

.sidebar .nav-link:hover {
    color: #007bff;
    background-color: #f8f9fa;
}

.sidebar .nav-link.active {
    color: #007bff;
    background-color: #e9ecef;
}

.sidebar .nav-link i {
    margin-right: 0.5rem;
}

main {
    margin-left: 240px; /* Sesuaikan dengan lebar sidebar */
}

@media (max-width: 767.98px) {
    main {
        margin-left: 0;
    }
    .sidebar {
        position: relative;
        height: auto;
        padding-top: 0;
    }
}